<footer>
    <div class="footer">
      <div class="footer-section">
        <h3>Infomración</h3>
        <ul>
          <li><a href=""> Preguntas frecuentes</a></li>
          <li><a href=""> Política de Privacidad</a></li>
          <li><a href=""> Configuración de Privacidad</a></li>
        </ul>
      </div>

      <div class="footer-section">
        <h3>Derechos de Autor</h3>
        <p>
          © 2023-2024 FilmProduction.All Rights Reserved - Todos los derechos
          reservados
        </p>
      </div>

      <div class="footer-section">
        <ul class="social-icons">
          <li>
            <a href="facebook"><img src= "../../../assets/images/icons8-facebook-48.png" alt facebook></a>
          </li>
          <li>
              <a href="instagram"><img src= "../../../assets/images/icons8-instagram-96.png" alt Instagram></a>
          </li>
          <li>
              <a href="twitterX"><img src= "../../../assets/images/icons8-twitterx-50.png" alt TwitterX></a>
          </li>
        </ul>
        <div class="volver">
          <a href="arriba">Volver al principio</a> 
          <img src= "../../../assets/images/icons8-arriba-círculo-40.png" alt Volver>
        </div>
        
      </div>
    </div>
  </footer>
