<div class="home-container">
  <h1>Bienvenido a Cinema Production</h1>
  <p>
    Descubre un universo lleno de historias asombrosas, dondé tu eres quién las
    cuenta.
  </p>
  <button class="explore-button"> <a href="http://localhost:4200/productos" style="text-decoration:none"> Explorar</a></button>
</div>

<div class="home-content">
    <aside class="left-aside">
        <div class="section">
            <h2>Categorías Películas</h2>
            <ul>
                <li>Thriller</li>
                <li>Comedia</li>
                <li>Animación</li>
                <li>Acción</li>
                <li>Terror</li>
                <li>Drama</li>
                <li>Basado en hechos reales</li>
                <li>Bélica</li>
                <li>Ciencia Ficción</li>
                <li>Documental</li>
            </ul>
        </div>
    </aside>


    <div class="main-content">
        <h2>Cartelera España </h2>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/anyone_but_you-366144700-mmed.jpg" alt="Cualquiera menos tú">
            <h3>Cualquiera menos tú</h3>
            <p>Dirigida por: Will Gluck</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/el_correo-686123937-mmed.jpg" alt="El correo">
            <h3>El correo</h3>
            <p>Dirigida por: Daniel Calparsoro</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/slow-726359580-mmed.jpg" alt="Slow">
            <h3>Slow</h3>
            <p>Dirigida por: Marija Kavtaradze</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/noah_s_ark-804270328-mmed.jpg" alt="El Arca de Noé">
            <h3>El Arca de Noé</h3>
            <p>Dirigida por: Sergio Machado, Rene Veilleux</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/cuando_acecha_la_maldad-702811959-mmed.jpg" alt="Cuando acecha la maldad">
            <h3>Cuando acecha la maldad</h3>
            <p>Dirigida por: Demián Rugna</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/plancha-653826285-mmed.jpg" alt="Plancha">
            <h3>Plancha</h3>
            <p>Dirigida por: Eric Lavaine</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/simon-798533652-mmed.jpg" alt="Simón">
            <h3>Simón</h3>
            <p>Dirigida por: Eric Lavaine</p>
        </div>
        <div class="movie-card">
            <img src="https://pics.filmaffinity.com/l_home_dels_nassos-725007612-mmed.jpg" alt="Pelicula1">
            <h3>L'home dels nassos</h3>
            <p>Dirigida por: Abigail Schaaff</p>
        </div>
    </div>
    <aside class="right-aside">
        <div class="section">
         <h2> Noticias para los más cinéfilos</h2>
            <ul>
            <li> La sociedad de la nieve’ lo ha conseguido: logra dos nominaciones en los Premios Oscar 2024 y ya sueña con la estatuilla</li>
            <li> Lo más cruel de los premios Oscar 2024</li>
            <li> El guion perdido de 'Jurassic Park 4'</li>
            <li> Las 13 series más esperadas de 2024 y los mejores estrenos</li>
            </ul>
        </div>
        <div class="section">
            <h2> Trailers</h2>
               <ul>
               <li> ¡Nuevo tráiler de Avatar: The Last Airbender</li>
               <li> Tráiler de Misión Imposible: Amenaza Fantasma</li>
               <li> Tráiler Harry Potter: Las Vacaciones de Harry</li>
               <li> Trailer Del Verés</li>
               </ul>
           </div>
           <div class="section">
            <h2> Más estrellas</h2>
               <ul>
               <li> Forrest Gump</li>
               <li> Matrix</li>
               <li> El señor de los anillos</li>
               <li> E.T</li>
               </ul>
           </div>
    </aside>
</div>